--- 
interface Props {
    title: string;
    description: string;
    image?: string;
    canonical?: string;
    type?: "website" | "article";
}

const {
    title,
    description,
    image = "/og-image.png",
    canonical = Astro.url.href,
    type = "website"
} = Astro.props; 

const sitename = "Imaf";
const fullTitle = `${title} | ${sitename}`;
---

<!--Basics -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{fullTitle}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonical} />

<!--Open Graph (redes sociales)-->
<meta property="og:tittle" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:url" content={canonical} />
<meta property="og:type" content={type} />
<meta property="og:site_name" content={sitename} />
<meta property="og:locale" content="es_ES" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />

<!-- Favicons -->
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />